<% provide(:title, 'Clothings') %>
<h2>Clothings</h2>


<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>Brand</th>
			<th>Type</th>
			<th>Size</th>
			<th>Cost/Item</th>
			<th>Life Cycle</th>
			<th>Lead Time</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>

		<tr>
			<td>Amazon</td>
			<td>Shirt</td>
			<td>M</td>
			<td>500</td>
			<td>1 year</td>
			<td>1 month</td>
			<td><a href="#">edit</a></td>
			<td><a href="#">delete</a></td>
		</tr>

		<tr>
			<td>Amazon</td>
			<td>Shirt</td>
			<td>L</td>
			<td>500</td>
			<td>1 year</td>
			<td>1 month</td>
			<td><a href="#">edit</a></td>
			<td><a href="#">delete</a></td>
		</tr>
	</thead>
</table>