<h2>newItem => clothing</h2>

<div class="row">
<div class="span3 offset3">
	<b>Clothing</b>
	<form>
		Brand: <input type="text"><br>
		Type: <input type="text"><br>
		Size: <input type="text"><br>
		Cost in Rs: <input type="number"><br>
		Life Cycle in days: <input type="number"><br>
		Lead Time  in days: <input type="number"><br>
		
			<br>
		<input type=submit value="create">
	</form>
</div>
</div>
<div class="row">
	<div class="span8 offset3">
		formula to calculate projection:<b> DateOfPurchase + LifeCycle - LeadTime </b>
	</div>
</div>