
<% @station_cost.each do |station| %>
<table class="table table-striped table-bordered table-condensed">
  <caption><strong><%= station.first.nameStation %></strong></caption>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Cost</th>
    </tr>
  </thead>
  <% total = 0 %>
  <% total_cost = station.last %>
  <% total_cost.each do |list| %>
    <tr>
    	<% total += list.last %>
      <% item = list.first %>
      <td><%= item.nameItem %></td>
      <td><%= list.last %></td>
    </tr>     
  <% end %>

</table>

<strong>Total cost of Present Stock : <%=total %></strong>

<% end %>