<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Stations <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Select", stations_path %></li>
  </ul>
</li>